.md-grid {
    max-width: initial;
  }

/* nebula dark */
:root{
  --md-primary-fg-color:#a27e7e; /* Tar bar color*/
  --md-accent-fg-color: #FA8072; /* Selected color */
}

/* nebula light */
[data-md-color-scheme="nebula"]{
  --md-primary-fg-color: #FF0000; /* Tar bar color */
  --md-accent-fg-color: #49BDF0; /* Selected color */

  --md-code-fg-color:  rgb(12, 21, 26);
  --md-code-bg-color:  #eaebec;
  --md-typeset-color:   #000000;
}