mkdocs
weasyprint==54.3
mkdocs-material-extensions
mike==1.1.2
mkdocs-material==9.4.6
mkdocs-material-extensions
mkdocs-macros-plugin
mdx_truly_sane_lists
mkdocs_latest_release_plugin
mkdocs-git-revision-date-localized-plugin
mkdocs-with-pdf
qrcode
mkdocs-exclude
mkdocs-redirects
mkdocs-minify-plugin
Markdown==3.3.7
pyyaml
mkdocs-glightbox