.max {
    width: auto;
    position: fixed;
    top: calc(50vh);
    z-index: 100;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: calc(100vw);
}
.min {
    width: auto;
}
.dialog-bg{
    position: absolute;
    width: calc(100vw);
    height: calc(100vh);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0,0,0,0.4);
}

#___gcse_0 .gsc-control-cse{
    width: 138px ;
    height: 34px ;
    padding: 0px ;
    border: none ;
    border-radius: 6px;
    background-color: #F1F1F1F1;
}
.gsc-input .gsc-input-box{
    height: 34px;
    width: 77px;
    border: none;
    background-color: #F1F1F1F1;
}
#gs_tti50{
    border: none ;
    border-radius: 6px;
}
table.gsc-search-box{
    position: relative;
}
.gsc-input{
    /* Hack: use imporant to overrider the inline style of the Google search box */
    height: 34px!important;
    margin: 0 0 0 10px !important;
    padding-left: 10px !important;
    transition:all .2s ease-in-out 0s;
    -webkit-transition:all .2s ease-in-out 0s;
    -moz-transition:all .2s ease-in-out 0s;
    position: absolute;
    top: 0;
    right:2px;
    z-index: 1;
    background: #F1F1F1F1;
}
.gsc-input:focus{
    width: 170px !important;
}
#gs_id50 .gsib_a{
    padding: 0px ;
    border: none ;
}
.gsc-search-button .gsc-search-button-v2{
    width: 42px;
    height: 34px;
    padding: 6px 6px;
    position:absolute;
    top: 0;
    right:90px;
    background: #F1F1F1F1;
    border: 0;
}
.gsc-tabData.gsc-tabdActive{
    text-align: left;
}
#___gcse_0 .gsc-adBlock iframe{
    display: none !important;
}
#gs_cb50{
    display: none;
}
#bing-search{
    display: none;
}