.md-grid {
    max-width: initial;
  }

/* nebula dark */
:root{
  --md-primary-fg-color:#6b2e38; /* Tar bar color*/
  --md-accent-fg-color: #f04949; /* Selected color */
}

/* nebula light */
[data-md-color-scheme="nebula"]{
  --md-primary-fg-color: #C65467; /* Tar bar color */
  --md-accent-fg-color: #bb7d7c; /* Selected color */

  --md-code-fg-color:  rgb(12, 21, 26);
  --md-code-bg-color:  #eaebec;
  --md-typeset-color:   #000000;
}