.md-grid {
    max-width: initial;
  }

/*隐藏mike默认的version selector
div.md-version {
  display: none !important;
}  */

/*自定义announce banner的字体和背景颜色*/
aside.md-banner {
  color: rgba(0, 0, 0, 0.714);
  background-color: rgba(146, 228, 24, 0.541);
  }

/* 自定义 annnoucement bar 和 outdate bar的height */    
div.md-banner__inner {
  margin: 0.2rem auto;
}     

/* 自定义 outdated bar 的颜色 */
aside.md-banner--warning {
  color: rgba(0, 0, 0, 0.714);
  background-color: rgba(146, 228, 24, 0.541);
  }


/* 黑夜主题色 */
:root{
  --md-primary-fg-color: #316745; /* 导航栏页面颜色 */
  --md-accent-fg-color: #49BDF0; /* 选中/悬浮链接的颜色 */
}

/* 白天主题色 */
[data-md-color-scheme="nebula"]{
  --md-primary-fg-color: #316745; /* 导航栏页面颜色 */
  --md-accent-fg-color: #7DBB7C; /* 选中/悬浮链接的颜色 */
  --md-typeset-a-color: #0FA37F!important; /* 白天的链接颜色 */
  --md-code-fg-color:  rgb(12, 21, 26); /* 代码段字体色 */
  --md-code-bg-color:  #eaebec;/* 代码段背景色 */
  --md-typeset-color:   #000000;/* 普通背景字 */
}

/* 修复版本选择框上边缘被box-shadow覆盖的情况 */
div>nav>label.md-nav__title {
  box-shadow: none!important;
}
