.md-grid {
  max-width: initial;
}

/* nebula dark */
:root{
  --md-primary-fg-color:#00d5ff; /* Tar bar color*/
  --md-accent-fg-color: #f049d4; /* Selected color */
}

/* nebula light */
[data-md-color-scheme="nebula"]{
  --md-primary-fg-color: #F3A68C; /* Tar bar color */
  --md-accent-fg-color: #5b1cdb; /* Selected color */

  --md-code-fg-color:  rgb(12, 21, 26);
  --md-code-bg-color:  #eaebec;
  --md-typeset-color:   #000000;
}
