.md-grid {
  max-width: initial;
}

/*隐藏mike默认的version selector
div.md-version {
  display: none !important;
}  */

/*自定义announce banner的字体和背景颜色*/
aside.md-banner {
color: rgba(0, 0, 0, 0.714);
background-color: rgba(169, 241, 62, 0.541);
}

/* nebula dark */
:root{
  --md-primary-fg-color:#A6A5C4; /* Tar bar color*/
  --md-accent-fg-color: #FA8072; /* Selected color */
}

/* nebula light */
[data-md-color-scheme="nebula"]{
  --md-primary-fg-color: #55295B; /* Tar bar color */
  --md-accent-fg-color: #49BDF0; /* Selected color */

  --md-code-fg-color:  rgb(12, 21, 26);
  --md-code-bg-color:  #eaebec;
  --md-typeset-color:   #000000;
}


/* uncover the upper edge of the version selection box by box-shadow */
div>nav>label.md-nav__title {
  box-shadow: none!important;
}