.md-grid {
    max-width: initial;
  }

/* 黑夜主题色 */
:root{
  --md-primary-fg-color: #A6A5C4; /* 导航栏页面颜色 */
  --md-accent-fg-color: #49BDF0; /* 选中/悬浮链接的颜色 */
}

/* 白天主题色 */
[data-md-color-scheme="nebula"]{
  --md-primary-fg-color: #55295B; /* 导航栏页面颜色 */
  --md-accent-fg-color: #7DBB7C; /* 选中/悬浮链接的颜色 */
  --md-typeset-a-color: #0FA37F!important; /* 白天的链接颜色 */
  --md-code-fg-color:  rgb(12, 21, 26); /* 代码段字体色 */
  --md-code-bg-color:  #eaebec;/* 代码段背景色 */
  --md-typeset-color:   #000000;/* 普通背景字 */
}

/* 修复版本选择框上边缘被box-shadow覆盖的情况 */
div>nav>label.md-nav__title {
  box-shadow: none!important;
}
